
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  background-color: #000;
  margin: 0px;
}

h1 {
  font-family: 'Inter-Bold', arial, sans-serif;
}

#root {
  height: 100%;
}
