.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  background-color: #fcfaf9;
  margin: 0px;
}

#root {
  height: 100%;
}
