$small: 650px;

.MapBodyDesktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $small) {
    display: none;
  }
}

.MapItemsDesktop {
  /* height: 100%; */
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  /* align-self: center; */
  justify-content: center;
  align-items: center;
  min-height: 0;
  min-width: 0;
}

.MapBodyDesktop select {
  /* background-color: #1abc9c; */
  background-color: white;
  border: 1px solid black;
  height: #{"min(40px, 4.5vh)"};
  width: 150px;
  margin: auto;
  color: black;
  font-size: #{"min(16px, 2vh)"};
  padding: 0.5em;
  padding-right: 2.5em;
  /* border: 0; */
  margin-bottom: #{"min(25px, 2.5vh)"};
  border-radius: 3px;
  text-indent: 0.01px;
  -moz-appearance: menulist-button;
  -webkit-appearance: menulist-button;
}

.MapHead {
  margin: 0.3% 0px;
}

.MapHead h1 {
  font-size: #{"min(32px, 4vh)"};
  margin: #{"min(14px, 2.3vh)"} 0px;
}

.MapItemsMobile {
  display: none;
  @media screen and (max-width: $small) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.MapItemsMobile select {
  /* background-color: #1abc9c; */
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 50%;
  margin: auto;
  color: black;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  /* border: 0; */
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  -moz-appearance: menulist-button;
  -webkit-appearance: menulist-button;
}

.MapItem {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  justify-content: flex-start;
  align-items: center;
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 15px #{"min(20px, 2.3vh)"} 15px;
  background-color: #fff;
  width: #{"min(28vw, 30vh)"};
  height: fit-content;
  min-height: 0;
  /* min-width: 150px; */
  overflow: hidden;
  max-height: 450px;
  border-radius: 20px;
  max-width: 330px;
  padding: 8px 0px;
  padding-top: 0px;
  @media screen and (max-width: $small) {
    width: 75%;
    margin: auto;
    margin-top: 5vh;
    padding: 0px;
  }
}

.MapItem img {
  min-width: 0;
  min-height: 0;
  object-fit: contain;
  width: #{"min(100%, 40vh)"};
  height: auto;
  display: block;
}

.MapItem h1 {
  font-size: #{"min(2vw, 3vh)"};
  margin: #{"min(0.67vw, 0.5vh)"} 0px;
  @media screen and (max-width: $small) {
    font-size: #{"min(5vw, 7vh)"};
    margin: #{"min(1.3vw, 1vh)"} 0px;
  }
}

.MapItem p {
  font-size: #{"min(13px, 1.6vh)"};
  margin: #{"min(9px, 0.7vh)"} 5px;
  @media screen and (max-width: $small) {
    font-size: 15px;
  }
}

.MapItem a {
  font-size: #{"min(15px, 1.7vw, 2vh)"};
  padding: 6px 16px;
  margin: 4px 6px;
  border-radius: 20px;
  border-width: 0px;
  background-color: #ddd;
  text-decoration: none;
  /* font-size: 1em; */
  color: #000;
  font-family: "Ubuntu", sans-serif;
  /* width: 50%; */
  @media screen and (max-width: $small) {
    font-size: #{"min(20px, 3vw, 3vh)"};
  }
}

/* @media screen and (min-width: 1600px) {
  .MapItem h1 {
    font-size: 1.8em;
  }
  .MapItem p {
    font-size: 1em;
  }
  .MapItem button {
    font-size: 1em;
  }
} */

.ChooseMapContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  max-width: 1575;
}
