.leaderboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 0;
  min-width: 0;
}

.leaderboardHead {
  margin: 0.3% 0px;
}

.leaderboardUser {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 10px 20px 10px;
  background-color: #fff;
  /* width: 20%; */
  height: auto;
  min-height: 0;
  min-width: 150px;
  overflow: hidden;
  width: 34%;
  max-height: 450px;
  padding: 8px 12px;
  border-radius: 15px;
}

.names {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.leaderboardUser img {
  width: 15%;
  height: auto;
  border-radius: 50%;
  margin: 0px 20px;
}

.leaderboardUser a {
  text-decoration: none;
}

.leaderboardUser a,
.leaderboardUser p,
.leaderboardUser h3 {
  margin: 0px;
  text-align: left;
}

.leaderboardUser .highScore {
  display: flex;
  flex-direction: column;
}

/* .LeaderboardUser {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  justify-content: flex-start;
  align-items: center;
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 10px 20px 10px;
  background-color: #fff;
  height: auto;
  min-height: 0;
  min-width: 150px;
  overflow: hidden;
  width: 20%;
  max-height: 450px;
} */
