$small: 650px;
$tiny: 450px;

// .leaderboardContainer {
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
// }

.leaderboardHead {
  margin: 0.3% 0px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  max-width: 600px;
  margin: 2% auto 0px auto;
  padding-bottom: 3px;
}

.leaderboardHead select {
  /* background-color: #1abc9c; */
  background-color: white;
  border: 1px solid black;
  height: 40px;
  color: black;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  /* border: 0; */
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  -moz-appearance: menulist-button;
  -webkit-appearance: menulist-button;
}

.leaderboardHead h1 {
  margin: 10px 0px;
  @media screen and (max-width: $small) {
    font-size: 1.5em;
  }
}

.leaderboard {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.leaderboardUsers {
  height: 100%;
  // width: 75%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex: 0 1 80%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  min-width: 0;
  padding-top: 1%;
}

.hidden {
  display: none;
}

.leaderboardUser {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  align-items: center;
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 0px 20px 0px;
  background-color: #fff;
  /* width: 20%; */
  height: auto;
  min-height: 0;
  min-width: 150px;
  overflow: hidden;
  width: 90%;
  // max-width: 600px;
  max-height: 450px;
  padding: 12px 12px;
  border-radius: 15px;
  @media screen and (max-width: $tiny) {
    margin: 0px 0px 10px 0px;
  }
}

// .leaderboard button {
//   margin: 0px 10px;
// }

.names {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.leaderboardUser img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0px 20px;
  @media screen and (max-width: $tiny) {
    width: 55px;
    height: 55px;
    margin: 0px 6px;
  }
}

.leaderboardUser a {
  text-decoration: none;
}

.leaderboardUser a,
.leaderboardUser p,
.leaderboardUser h3,
.leaderboardUser h1 {
  margin: 0px;
  text-align: left;
}

.leaderboardUser a {
  @media screen and (max-width: $tiny) {
    font-size: 15px;
  }
}

.leaderboardUser p {
  @media screen and (max-width: $tiny) {
    font-size: 12px;
  }
}

.leaderboardUser h3 {
  @media screen and (max-width: $tiny) {
    font-size: 15px;
  }
}

.leaderboardUser .highScore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .LeaderboardUser {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  justify-content: flex-start;
  align-items: center;
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0px 10px 20px 10px;
  background-color: #fff;
  height: auto;
  min-height: 0;
  min-width: 150px;
  overflow: hidden;
  width: 20%;
  max-height: 450px;
} */

#leftArrow {
  transform: scaleX(-1);
}

.disabledArrow {
  opacity: 0.2;
}
