$small: 650px;

.userPageContainer {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 75%;
  max-width: 650px;
  margin: 0px auto;
  margin-top: 15vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 3% 0px;
}

.userHead > img {
  border-radius: 50%;
  width: 25%;
  max-width: 150px;
  height: auto;
  margin-top: -19%;
}

.userName {
  display: flex;
  justify-content: center;
}

.userName > img {
  width: 10%;
  max-width: 30px;
  margin-left: 10px;
  /* border-radius: 100px; */
}

.stats {
  /* margin: 30px auto; */
}

.statsHead {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin: auto;
}

.statsHead select {
  /* background-color: #1abc9c; */
  background-color: white;
  border: 1px solid black;
  height: 25%;
  color: black;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  /* border: 0; */
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.statsBody {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  @media screen and (max-width: $small) {
    flex-direction: column;
    align-items: center;
  }
}

.statsBody > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  max-width: 200px;
  // margin: 10px 0px;
  padding: 0px 15px;
  height: 85px;
}

.statsBody > * * {
  margin: 5px 0px;
}

/* this is necessary to make the (MAP NAME) show up on a new line for the overall stats */
.overallMaxScore {
  white-space: pre-line;
}

.bestOverall {
  @media screen and (max-width: $small) {
    margin-bottom: 35px;
  }
}
