.play-section {
  height: 90%;
  background-color: #bdd1c5;
}

.countryGuessInfo {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-start;
  width: 100%;
  max-height: 200px;
  /* max-width: 250px; */
  min-width: 100px;
}

.countryGuessInfo h2 {
  margin: 10px 0px;
  font-size: 1.5vw;
  text-align: left;
  /* width: 100%; */
  /* max-width: 133.35px; */
}

.countryGuessInfo img {
  width: 100%;
  height: auto;
  /* max-height: 100px; */
  max-width: 133.35px;
  min-width: 100px;
  /* margin-left: ; */
  /* display: block; */
}

@media screen and (min-width: 1350px) {
  .countryGuessInfo h2 {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .countryGuessInfo h2 {
    font-size: 15px;
  }
}

.countryGuessInfo button {
  padding: 10px 20px;
  border-radius: 6px;
  border-width: 0px;
  width: 100%;
  height: auto;
  max-width: 133.35px;
  min-width: 100px;
  margin-top: 10px;
  background-color: "white";
  font-size: 18px;
  color: #000;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  transition: 0.25s ease;
}

.popup-container {
  position: absolute;
  background: #000000d8;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  width: 10%;
  max-width: 350px;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
  pointer-events: none;
}

.overlay button {
  pointer-events: all;
}

.overlay audio {
  pointer-events: all;
}

.indexText {
  position: absolute;
  right: 10%;
  top: 3%;
}

.map-div {
  height: 100%;
  width: auto;
}

.map {
  display: flex;
  flex: 1 1 auto;
}

.guess-popup {
  color: white;
  position: relative;
  width: 50%;
  max-width: 500px;
  margin: auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #1db954;
  border-radius: 30px;
  padding: 30px 30px;
  /* border: 1px solid #999; */
  overflow: none;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.popup-container h1 {
  padding-top: 0px;
  margin-top: 0px;
}

#score {
  display: flex;
  justify-content: center;
}

.popup-container img {
  width: 30%;
  height: auto;
  object-fit: contain;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}

.popup-container text {
  flex: 1 1 auto;
}

.text-div {
  color: white;
  width: 40%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.text-div h3 {
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 3px;
  padding-top: 0px;
  display: flex;
}

.text-div h4 {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
}

.popupText {
  display: block;
}

.song-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.popup-buttons button {
  padding: 10px 20px;
  border-radius: 15px;
  border-width: 0px;
  background-color: "white";
  font-size: 20px;
  color: #1db954;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  transition: 0.25s ease;
}

.incorrect-text button {
  color: #ee6c4d;
}

.popup-buttons button:hover {
  transform: scale(1.1);
}

.summary {
  color: white;
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #333;
  border-radius: 30px;
  padding: 30px 30px;
  /* border: 1px solid #999; */
  overflow: none;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.summary-songs {
  display: flex;
  flex-wrap: wrap;
  align-self: 1;
  justify-content: center;
}

.summaryItemHeader {
  display: flex;
  justify-content: center;
}
.summaryItemHeader img {
  width: 30px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.summary-item {
  width: 40%;
  background-color: #1db954;
  margin: 10px;
  border-radius: 20px;
  padding-bottom: 10px;
}

iframe {
  border-radius: 20px;
}

.playButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.hidden {
  display: none;
}

.timeControls {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

#audioPlayer {
  display: none;
}

.audioSeeker {
  flex: 1 1 auto;
  pointer-events: all;
}

.audioButton {
  pointer-events: all;
  box-sizing: border-box;
  width: 0;
  height: 4vw;
  border-style: solid;
  border-width: 2vw 0 2vw 3.2vw;
  border-color: transparent transparent transparent #202020;
  cursor: pointer;
  will-change: border-width;
  transition: all 0.2s ease;
}
.audioButton.paused {
  border-style: double;
  height: 4vw;
  border-width: 0px 0 0px 4vw;
}
.audioButton:hover {
  border-color: transparent transparent transparent #404040;
}

@media screen and (min-width: 1000px) {
  .audioButton {
    height: 40px;
    border-width: 20px 0px 20px 32px;
  }
  .audioButton.paused {
    border-style: double;
    height: 40px;
    border-width: 0px 0 0px 32px;
  }
}

.incorrect-background {
  background: #ee6c4d;
}
